apiVersion: v1
kind: Service
metadata:
  name: auto-auction-api
  namespace: auto-auction
  labels:
    app: api
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8080
  selector:
    app: api
