apiVersion: apps/v1
kind: Deployment
metadata:
  name: auto-auction-web
  namespace: auto-auction
  labels:
    app: web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      nodeSelector:
        kubernetes.io/hostname: jelly-minipc-ubuntu
      containers:
      - name: web
        image: ghcr.io/dev-jelly/auto-auction-web:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 80
        env:
        - name: API_URL
          value: "http://auto-auction-api"
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          requests:
            memory: "32Mi"
            cpu: "10m"
          limits:
            memory: "64Mi"
            cpu: "100m"
