apiVersion: v1
kind: Service
metadata:
  name: auto-auction-web
  namespace: auto-auction
  labels:
    app: web
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
  selector:
    app: web
